﻿
@model LoginModel
@{
    ViewData["Title"] = "Authorization";
}

<h1>Authorization</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <input type="hidden" name="returnUrl" value=@ViewBag.ReturnUrl />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group required">
                <label asp-for="Username" class="control-label">Username</label>
                <input asp-for="Username" class="form-control">
            </div>
            <div class="form-group required">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>